.App {
    display: flex;
    flex-direction: row;
  }
  
.component {
    position: relative ;
  }
    
  .component_title {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }