.App {
    display: flex;
    flex-direction: row;
}

.component {
    position: relative;
}

.component_title {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.component_text {
    position: absolute;
    top: 60%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 500px) {
    .App {
        flex-direction: column;
    }
}